@charset "UTF-8";

@font-face {
  font-family: "Dancing Script";
  src: url('../fonts/DancingScript-Regular.otf');
}

body {
  font-family: "Dancing Script", Helvetica, Arial, sans-serif;
  background-color: #02010a;
}

.contenedor {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  flex-basis: 50%;
}

header {
  background-color: #567989;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  color: white;
}

h1 {
  text-shadow: 2px 2px #02010a;
}

h2 {
  text-decoration: underline;
  text-align: center;
}

nav {
  width: 42%;
  text-align: right;
}

ul {
  list-style: none;
  margin: 0;
  padding: 1em;
}

nav ul {
  font-size: 1.4em;
}

nav a {
  color: white;
}

.main {
  width: 100%;
  background-color: #82c3a6;
}

[class^="img"] {
  margin: 2%;
  box-shadow: 2px 2px #02010a;
}

[class^="img"] {
  margin: 5%;
}

.img-main {
  margin: 5%;
}

.secondary {
  background-color: #d5c75f;
}

.no-decoration {
  text-decoration: none;
}

.img-left:hover {
  transform: rotate(10deg);
  box-shadow: 2px 2px #82c3ab;
  transition: all 1s;
}

.img-right:hover {
  transform: translate(20px, -5px);
  transition: all 1s;
  box-shadow: 2px 2px #82c3a6;
}

footer {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #C6d5c5;
  width: 100%;
  font-size: 1.2em;
}

@media all and (min-width: 900px) {

  h1 {
    width: 50%;
    padding-left: 1.5em;
  }

  nav, nav li, h1 {
    display: inline-block;
  }

  .img-main {
    width: 90%;
  }

  .img-left, .img-right {
    width: 90%;
  }

  header {
    order: 1;
  }

  .main {
    width: 100%;
    order: 2;
  }
  .secondary {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    order: 3;
  }

  footer {
    display: flex;
    flex-flow: row nowrap;
    order: 4;
  }

  li img {
    width: 15%;
    padding: 1%;
  }


  .s1, .s2 {
    width: 50%;
  }

  .f1, .f2, .f3, .f4 {
    width: 25%;
    padding: 1em;
  }

/* retratos.html, paisajes.html*/
[class^="p"] {
  width: 33.33%;
}

article > img {
  width: 90%;
}

.gallery {
    width: 100%;
    background-color: #82c3a6;
    display: flex;
    flex-flow: row wrap;
    flex-basis: 1;
    order: 2;
}

.gallery > article:nth-child(1) {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.gallery > article:nth-child(even) {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.gallery > article:nth-child(3) {
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}





}


@media all and (max-width: 900px) {
  .contenedor {
    width: 100%;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  nav {
    width: 100%;
    text-align: center;
  }

  [class^="img"] {
    width: 90%;
  }

  .secondary {
    display: flex;
    flex-flow: column wrap;
  }

  footer {
    display: flex;
    flex-flow: row wrap;
    order: 3;
  }

  li img {
    width: 10%;
    padding: 1%;
  }

  .s1, .s2 {
    width 100%;
  }

  .f1, .f2, .f3, .f4 {
    width: 100%;
    padding: 1em;
  }

  [class^="p"] {
    width: 100%;
  }

  article > img {
    width: 80%;
    margin: 10%;
  }

  .gallery {
      width: 100%;
      background-color: #82c3a6;
      display: flex;
      flex-flow: column wrap;
      order: 2;
  }



}
