@charset "UTF-8";

@font-face {
  font-family: "Dancing Script";
  src: url('../fonts/DancingScript-Regular.otf');
}

body {
  font-family: "Dancing Script", Helvetica, Arial, sans-serif;
  background-color: #02010a;
}

.contenedor {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  flex-basis: 50%;
}

header {
  background-color: #567989;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  color: white;
}

h1 {
  text-shadow: 2px 2px #02010a;
}

h2 {
  text-decoration: underline;
  text-align: center;
}

nav {
  width: 42%;
  text-align: right;
}

nav ul {
  list-style: none;
}

nav a {
  color: white;
}

.main {
  width: 100%;
  background-color: #82c3a6;
}

img {
  margin: 2%;
  box-shadow: 2px 2px #02010a;
}

[class^="img"] {
  margin: 5%;
}

.img-main {
  margin: 5%;
}

.secondary {
  background-color: #d5c75f;
}

.no-decoration {
  text-decoration: none;
}

.img-left:hover {
  transform: rotate(10deg);
  box-shadow: 2px 2px #82c3ab;
  transition: all 1s;
}

.img-right:hover {
  transform: translate(20px, -5px);
  transition: all 1s;
  box-shadow: 2px 2px #82c3a6;
}

@media all and (min-width: 900px) {

  h1 {
    width: 50%;
    padding-left: 1em;
  }

  nav, li, h1 {
    display: inline-block;
  }

  .img-main {
    width: 90%;
  }

  .img-left, .img-right {
    width: 90%;
  }

  header {
    order: 1;
  }

  .main {
    width: 100%;
    order: 2;
  }
  .secondary {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    order: 3;
  }

  .s1, .s2 {
    width: 50%;
  }

}


@media all and (max-width: 900px) {
  .contenedor {
    width: 100%;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  nav {
    width: 100%;
    text-align: center;
  }

  img {
    width: 90%;
  }

  .secondary {
    display: flex;
    flex-flow: column wrap;
  }

  .s1, .s2 {
    width 100%;
  }



}
